@import "ember-slider";

body {
	$class-list: <%= classList %>;
	$slider-path-color: <%= pathColor %>;
	$slider-filler-color: <%= fillerColor %>;
	$slider-handle-color: <%= handleColor %>;
	$slider-scale: <%= scale %>;

	@for $i from 1 through length($class-list) {
	  .#{"" + nth($class-list, $i)} {
	  	$path-color: nth($slider-path-color, $i);
		$filler-color: nth($slider-filler-color, $i);
		$handle-color: nth($slider-handle-color, $i);
		$scale: nth($slider-scale, $i);
	    @include slider-css($path-color, $filler-color, $handle-color, $scale);
	  }
	}
}