@import "slider-mixin";

.ember-slider {
    /* Variables */
    $slider-path-color: #ccc;
    $slider-filler-color: #aaa;
    $slider-handle-color: #eee;
    $handle-width: 30px;
    $handle-padding: 4px;
    $base-font-size: .9px;
    @include slider-css($slider-path-color, $slider-filler-color, $slider-handle-color,
 $handle-width, $handle-padding, $base-font-size);
}
