@import "compass";

body {
    font-family: 'Roboto', sans-serif;
}

.ember-slider {
    /* Variables */
    $slider-path-color: #ccc;
    $slider-filler-color: #aaa;
    $slider-handle-color: #eee;
    $handle-width: 30px;
    $handle-padding: 4px;

    @include box-sizing();
    position: relative;
    overflow: hidden;
    &.no-value {
        .slider-value {
            display: none;
        }
    }
    &.closed {
        background-color: $slider-path-color;
        border-radius: $handle-width + $handle-padding;
        .slider-color-filler {
            display: none;
        }
        .slider-color-filler-closed {
            display: block;
        }
        .slider-handle {
            background-color: $slider-filler-color;
            &:before {
                background-color: $slider-filler-color;
                z-index: 1;
            }
        }
    }
    &.sliding {
        .slider-handle .slider-value {
            @include transform(translateX(-105%));
            @include transition(transform .3s);
            .value-mover {
                background: #fff;
                border: 1px solid #444;
                border-radius: 3px;
                position: relative;
                &:after {
                    content: '';
                    background: transparent;
                    
                    border-top: 7px solid transparent;
                    border-right: 0;
                    border-left: 10px solid #444;
                    border-bottom: 7px solid transparent;
                    
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    left: 100%;
                }
            }
        }
        &.left-closing {
            .slider-handle .slider-value {
                @include transform(translateX(105%));
                .value-mover {
                    &:after {
                        
                        border-top: 7px solid transparent;
                        border-left: 0;
                        border-right: 10px solid #444;
                        border-bottom: 7px solid transparent;

                        left: unset;
                        right: 100%;
                    }
                }
            }
        }
    }
    &.animate {
        .slider-color-filler, .slider-color-filler-closed {
            @include transition(width .3s);
        }
        .slider-handle {
            @include transition(left .3s);
        }
    }
    .slider-path {
        width: calc(100% - 34px);
        position: relative;
        left: 15px;
        cursor: pointer;
    }
    .slider-color-filler, .slider-pseudo-path {
        background-color: $slider-filler-color;
        width: 0;
        height: 4px;
        border-radius: 4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
    }
    .slider-pseudo-path {
        background-color: $slider-path-color;
        width: 100%;
    }
    .slider-color-filler-closed {
        background-color: $slider-filler-color;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .slider-handle {
        @include transform(translateX(-15px));
        text-align: center;
        line-height: $handle-width + $handle-padding;

        height: $handle-width + $handle-padding;
        width: $handle-width + $handle-padding;
        border-radius: $handle-width + $handle-padding;
        
        position: relative;
        left: 0;
        z-index: 1;

        cursor: pointer;

        &:before {
            content: '';
            width: $handle-width * 5;
            height: 100%;
            position: absolute;
            top: 0;
            right: 50%;
        }
        &:after {
            content: '';
            width: $handle-width * 5;
            height: 100%;
            position: absolute;
            top: 0;
            left: 80%;
        }

        .handle-cover {
            background-color: $slider-handle-color;
            width: $handle-width;
            height: $handle-width;

            box-shadow: 1px 1px 1px #555;
            border-radius: $handle-width;
            
            position: absolute;
            left: $handle-padding / 2;
            top: $handle-padding / 2;
            z-index: 2;
        }

        .slider-value {
            position: relative;
            z-index: 3;
            .value-mover {
                padding: 2px;
                display: inline;
            }
        }
    }
}